<!-- 包含header -->
<include file="Common/header"/>
<style>
.error{
	color:red;
}
</style>
	<body class="login-layout">
		<div class="main-container">
			<div class="main-content">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="login-container">
							<div class="center">
								<h1>
									<span class="white title_bg">
										<img src="__IMG__avatars/gw-logo.png">
									</span>
								</h1>
								<h4 class="blue">&copy;公司名</h4>
							</div>

							<div class="space-6"></div>

							<div class="position-relative">
								<div id="login-box" class="login-box visible widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
											<!-- <h4 class="header blue lighter bigger">
												<i class="icon-coffee green"></i>
												请输入您的用户信息
											</h4> -->

											<div class="space-6"></div>
											<div><h5 style="color:red" id="msg"></h5></div>
											<form method="post" action="{:U('login/login_do')}" id="form1" onsubmit="return login()">
												<fieldset>
													<label class="block clearfix">
														<span class="block input-icon new_icon input-icon-left">
															<input style="border:none;" type="text" class="form-control" placeholder="请输入用户名" name="username" id="username" />
															<i class="icon-user"></i>
														</span>
													</label>

													<label class="block clearfix">
														<span class="block input-icon new_icon input-icon-left">
															<input style="border:none;" type="password" class="form-control" placeholder="请输入密码" name="pwd" id="pwd" />
															<i class="icon-lock"></i>
														</span>
													</label>

													<div class="space"></div>

													<div class="clearfix">
														<label class="inline">
															<input type="checkbox" class="ace" name="rem" />
															<span class="lbl"> 记得密码</span>
														</label>

														<button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
															登录
														</button>
													</div>

													<div class="space-4"></div>
												</fieldset>
											</form>

											
										</div><!-- /widget-main -->

										
									</div><!-- /widget-body -->
								</div><!-- /login-box -->

							</div><!-- /position-relative -->
						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div>
		</div><!-- /.main-container -->
</body>
<include file="Common/footer"/>
<script>

function login(){
	var username = $('#username');
	var pwd = $('#pwd');
	var msg = $('#msg');
	if( username.val() == '' ){
		msg.html('请输入用户名');
		username.focus();
		return false;
	}else if( pwd.val() == '' ){
		msg.html('请输入密码');
		pwd.focus();
		return false;
	}else{
		
		return true;
	}
	
}

	/*$(document).ready(function(){

		$('#form1').validate({
			 rules: {
			 	username: {
			        required: true,
			      },
			    pwd: {
			        required: true,

			      },
			 },

			  messages: {
			  	username: {
			        required: "请输入用户名",
			      },
			    pwd: {
			        required: "请输入密码",
			      },
			  }
		});

	});*/

</script>

