<extend name="Common:base_no_left" />
<block name="rig">
<link rel="stylesheet" href="__CSS__shezhi.css" />
<img src="__IMG__avatars/gw-logo.png" class="shizhi_logo">	
		
		
		<div class="">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-list"></i>
								设置管理
							</li>
							<li class="active">我的账户</li>
						</ul><!-- .breadcrumb -->	
					</div>



					<!-- 表单 -->
					<div class="widget-main well shizhi_box shizhi_wai">
								<!-- PAGE CONTENT BEGINS -->
					<ul class="nav nav-pills shezhi_nav">
						<li class="active">
							<a href="#">编辑用户{$info.username}权限</a>
						</li>
						
					</ul>
					<blockquote style="">
						<p>用户权限</p>
					</blockquote>
								<form class="form-horizontal" role="form" method="post">

									<div class="form-group">
					                    <label class="col-xs-12 col-sm-3 col-md-2" >
					                    	<input type="checkbox"> <strong>学校数据信息统计:</strong>
					                    </label>
					                    <div class="col-sm-9 col-xs-12">
					                        <label class="checkbox-inline">
					                            <input type="checkbox" value="census-index" name="power[]" <?php  if(in_array('census-index',$power)) echo 'checked="checked"' ?>> 学校信息汇总
					                        </label>
					                        <label class="checkbox-inline">
					                            <input type="checkbox" value="census-cate" name="power[]" <?php  if(in_array('census-cate',$power)) echo 'checked="checked"' ?> > 分类信息查询
					                        </label>
					                        <label class="checkbox-inline">
					                            <input type="checkbox" value="census-machine_shend" name="power[]" <?php  if(in_array('census-machine_shend',$power)) echo 'checked="checked"' ?> > 机械消费信息查询
					                        </label>
					                        <label class="checkbox-inline">
					                            <input type="checkbox" value="census-group_shend" name="power[]" <?php  if(in_array('census-group_shend',$power)) echo 'checked="checked"' ?>>  组消费信息查询
					                        </label>
					                        <label class="checkbox-inline">
					                            <input type="checkbox" value="census-icon_count" name="power[]" <?php  if(in_array('census-icon_count',$power)) echo 'checked="checked"' ?>>  冷热水总体消费信息图标查询
					                        </label>
					                        <label class="checkbox-inline">
					                            <input type="checkbox" value="census-recharge_num" name="power[]" <?php  if(in_array('census-recharge_num',$power)) echo 'checked="checked"' ?>>  充值次数查询
					                        </label>
					                        <label class="checkbox-inline">
					                            <input type="checkbox" value="census-recharge_phase" name="power[]" <?php  if(in_array('census-recharge_phase',$power)) echo 'checked="checked"' ?>> 充值阶段查询
					                        </label>
					                         <label class="checkbox-inline">
					                            <input type="checkbox" value="census-count_recharge" name="power[]" <?php  if(in_array('census-count_recharge',$power)) echo 'checked="checked"' ?>> 总体充值信息查询	
					                        </label>
					                         <label class="checkbox-inline">
					                            <input type="checkbox" value="census-program" name="power[]" <?php  if(in_array('census-program',$power)) echo 'checked="checked"' ?>> 活动信息查询
					                        </label>
					                         <label class="checkbox-inline">
					                            <input type="checkbox" value="census-recharge" name="power[]" <?php  if(in_array('census-recharge',$power)) echo 'checked="checked"' ?>> 充值信息查询
					                        </label>
					                         <label class="checkbox-inline">
					                            <input type="checkbox" value="census-machine_operation" name="power[]" <?php  if(in_array('census-machine_operation',$power)) echo 'checked="checked"' ?>> 机械运维考勤查询
					                        </label>
					                         <label class="checkbox-inline">
					                            <input type="checkbox" value="census-machine_fault" name="power[]" <?php  if(in_array('census-machine_fault',$power)) echo 'checked="checked"' ?>> 机器故障信息查询
					                        </label>
					                         <label class="checkbox-inline">
					                            <input type="checkbox" value="census-overdraft_card" name="power[]" <?php  if(in_array('census-overdraft_card',$power)) echo 'checked="checked"' ?>> 欠费卡/透支卡信息查询
					                        </label>

					                    </div>
					                </div>

					                <div class="form-group">
					                    <label class="col-xs-12 col-sm-3 col-md-2" >
					                    	<input type="checkbox" value="optIDcardNo" name="power[]"> <strong>校园服务器配置:</strong>
					                    </label>
					                    <div class="col-sm-9 col-xs-12">
					                        <label class="checkbox-inline">
					                            <input type="checkbox" value="school_list"  name="power[]" <?php  if(in_array('school_list',$power)) echo 'checked="checked"' ?>> 学校列表
					                        </label>
					                    </div>
					                </div>

					                <div class="form-group">
					                    <label class="col-xs-12 col-sm-3 col-md-2" >
					                    	<input type="checkbox"> <strong>设置:</strong>
					                    	<input type="hidden" name="power[]" value="setting-account" >
					                    </label>
					                    <div class="col-sm-9 col-xs-12">
					                        <label class="checkbox-inline">
					                            <input type="checkbox" name="power[]" value="setting-user_list" <?php  if(in_array('setting-user_list',$power)) echo 'checked="checked"' ?>> 用户管理
					                        </label>
					                        <label class="checkbox-inline">
					                            <input type="checkbox" name="power[]" value="setting-setting" <?php  if(in_array('setting-setting',$power)) echo 'checked="checked"' ?>> 锁屏设置
					                        </label>
					                        <label class="checkbox-inline">
					                            <input type="checkbox" name="power[]"  value="database" <?php  if(in_array('database',$power)) echo 'checked="checked"' ?>> 数据库
					                        </label>
					                        <label class="checkbox-inline">
					                            <input type="checkbox" name="power[]" value="setting-log" <?php  if(in_array('setting-log',$power)) echo 'checked="checked"' ?>>  查看日志
					                        </label>

					                    </div>
					                </div>
									

									<div class="clearfix form-actions">
										<div class="col-md-offset-1 col-md-9">
											<button class="btn btn-tijiao" type="submit">
												<i class="icon-ok bigger-110"></i>
												提交
											</button>

											&nbsp; &nbsp; &nbsp;
											<button class="btn btn-tijiao" type="reset" onclick="history.go(-1)">
												<i class="icon-undo bigger-110"></i>
												返回
											</button>
										</div>
									</div>

									<div class="hr hr-24"></div>

									
								</form>
							</div>

					<!-- 表单end -->								

					
		</div>


</block>
