<extend name="Common:base" />
<block name="rig">
<style>
	.navbar-inner tr{
		background:#fff !important;
	}
	.header-color-blue2 + .widget-body{
		border-color:#ccc;
	}
	.zdy-widget-body-table{
		border-top:none !important;
	}
	.zdy-menu a{
		margin-bottom:10px;
	}
</style>
		<div class="col-xs-12 col-sm-9 col-lg-10">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								学校数据信息统计
							</li>
							<li class="active">大连工业大学</li>
							<li class="active">组消费查询</li>
						</ul><!-- .breadcrumb -->	
					</div>

					
					<include file="menu"/>

					<!-- 表格 -->
					<div class="row">
					<div class="col-xs-12" style="margin-top:10px;">
						<div class="row">
							<div class="col-sm-12">
								<div class="widget-box">
									<div class="widget-header header-color-blue2">
										<h4 class="lighter smaller">条件筛选</h4>
									</div>
									<form method="get" action="">
									<input type="hidden" value="Home" name='m' >
									<input type="hidden" value="{$Think.const.CONTROLLER_NAME}" name='c' >
									<input type="hidden" value="{$Think.const.ACTION_NAME}" name='a' >
									<div class="widget-body" style="padding:20px;">
										<div class="widget-main padding-8" >

											<div class="row">

												<div class="col-xs-2 col-sm-1" align="right">
													<label for="id-date-picker-1" style="margin-top:5px;">时间：</label>
												</div>

												<div class="col-xs-4 col-sm-4">
													
													<div class="input-group">
														<span class="input-group-addon">
															<i class="icon-calendar bigger-110"></i>
														</span>
														<input placeholder="点击选择时间" class="form-control" type="text" name="date-range-picker" id="id-date-range-picker-1" value="{$Think.get.date-range-picker}">
													</div>
												</div>

												<!-- <div class="col-xs-3 col-sm-2">
													<select class="form-control" id="form-field-select-1" name="repair_man">
														<option value="" >组名</option>
														<option value="WI">第一组</option>
														<option value="WY">学生组</option>
													</select>
												</div> -->
												<div class=" col-xs-3 col-sm-5 ">
													<button class="btn btn-sm btn-info" type="submit">
														查询
													</button>

													<!-- <button class="btn btn-sm btn-success" type="submit">
														导出列表
													</button> -->
												</div>
											</div>
										</div>
									</div>
									</form>
								</div>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-12">
								<div class="widget-box">
									<div class="widget-header header-color-blue2">
										<h4 class="lighter smaller">组消费信息查询</h4>
									</div>

									<div class="widget-body" >
										<div class="widget-main padding-8" >

												<table id="sample-table-2" class="table table-hover zdy-widget-body-table">
													<thead class="navbar-inner">
														<tr>
															<th>位置组名</th>
															<th>冷水</th>
															<th>热水</th>
															<th>温水</th>
														</tr>
													</thead>
													<tbody>
													<volist name="group" id="list">
														<tr>
															<td>{$list.addrname} {$list.notes}</td>
															<td>{$list.coldwater}</td>
															<td>{$list.warmwater}</td>
															<td>{$list.hotwater}</td>
														</tr>
													</volist>
													</tbody>
												</table>
											
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
					</div>

<script type="text/javascript">
	
	$(document).ready(function(){
		$('input[name=date-range-picker]').daterangepicker().prev().on(ace.click_event, function(){
			$(this).next().focus();
		});

	});

</script>
</block>



