			<div class="col-xs-12 zdy-menu" style="margin-left:4px;">
						<!-- <a href="{:U('count')}" class="btn  btn-light" id="count">
							数据汇总
						</a> -->
						<a href="{:U('Census/cate',array('sid'=>$sid))}" class="btn  btn-light" id="cate">
							分类信息查询
						</a>
						<a href="{:U('machine_shend',array('sid'=>$sid))}" class="btn  btn-light" id="machine_shend">
							机械消费信息查询
						</a>
						<a href="{:U('group_shend',array('sid'=>$sid))}" class="btn  btn-light" id="group_shend">
							组消费信息查询
						</a>
						<a href="{:U('icon_count',array('sid'=>$sid))}" class="btn  btn-light" id="icon_count">
							冷热水总体消费信息图标查询
						</a>
						<a href="{:U('recharge_num',array('sid'=>$sid))}" class="btn  btn-light" id="recharge_num">
							充值次数查询
						</a>
						<a href="{:U('recharge_phase',array('sid'=>$sid))}" class="btn  btn-light" id="recharge_phase">
							充值阶段查询
						</a>
					</div>

					<div class="col-xs-12 zdy-menu" style="margin-left:4px;">
					<a href="{:U('count_recharge',array('sid'=>$sid))}" class="btn  btn-light" id="count_recharge">
							总体充值信息查询
						</a>
						<a href="{:U('program',array('sid'=>$sid))}" class="btn  btn-light" id="program">
							活动信息查询
						</a>
						<a href="{:U('recharge',array('sid'=>$sid))}" class="btn  btn-light" id="recharge">
							充值信息查询
						</a>
						<a href="{:U('machine_operation',array('sid'=>$sid))}" class="btn  btn-light" id="machine_operation">
							机器运维考勤信息查询
						</a>
						<a href="{:U('machine_fault',array('sid'=>$sid))}" class="btn  btn-light" id="machine_fault">
							机器故障信息查询
						</a>
						<a href="{:U('overdraft_card',array('sid'=>$sid))}" class="btn  btn-light" id="overdraft_card">
							欠费停用卡/透支卡信息查询
						</a>
					</div>	
					<input type="hidden" name="action" value="{$Think.ACTION_NAME}" id="action">
<script src="__JS__jquery-2.0.3.min.js"></script>
<script type="text/javascript">
	var action = $('#action').val(); 
	$('#'+action).removeClass().addClass("btn  btn-info");

</script>

