<extend name="Common:base_no_left" />
<block name="rig">
<style>
		/*设备管理*/
	body{
		background: transparent url("http://wx.guaziwangluo.com/school/Public/Admin/img/avatars/gw-bg.jpg") no-repeat fixed 0% 0%;
	}
	.shizhi_box{
		border-radius:5px;
		padding:20px;
		background:#f5f5f5;
		margin:0px;
	}
	.shizhi_wai{
		margin-bottom:70px;

	}
	.shizhi_wai .btn{
		color:#333 !important;
		background:#eee !important;
	}
	.shizhi_wai .btn:hover{
		background:#7dacdd !important;
		color:#fff !important;
	}
	.shizhi_wai blockquote{
		border-left:3px solid #000;
	}
	.shizhi_wai blockquote p{
		font-size:14px;
	}
	.shizhi_logo{
		margin-bottom:20px;
	}
	.btn.btn-app > [class*="icon"]{
		font-size:30px;
		margin-bottom:-5px;
	}
	.btn.btn-app{
		font-size:14px;
		padding:5px;
	}


	/*账号信息*/
	.shezhi_nav{
		border-bottom:1px solid #428bca;
		margin-bottom:20px;
	}
	.shezhi_nav{
		margin:0px;
		margin-bottom:20px;
	}
	.shizhi_wai .btn-tijiao{
		background:#428bca !important;
		border-color:#428bca;
		color:#fff !important;
	}
	.shizhi_wai .btn-back{
		background:#428bca !important;
		border-color:#428bca;
		color:#fff !important;
	}
	.shizhi_wai .btn-tijiao:hover,.shizhi_wai .btn-back:hover{
		background:#3071a9 !important;
		border-color:#3071a9;
	}
	/*用户列表*/
	.user_list_table .navbar-inner tr{
		background:#fff;
		color:#333;
		font-size:14px;
	}
</style>
<a href="./?refresh"><img src="__IMG__avatars/gw-logo.png" class="shizhi_logo"></a>			
		<div class="">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-list"></i>
								设置管理
							</li>
							<li class="active">数据备份</li>
						</ul><!-- .breadcrumb -->	
					</div>



					<!-- 表单 -->
					<div class="row widget-main well shizhi_box shizhi_wai">
					<ul class="nav nav-pills shezhi_nav">
						<li class="active" >
							<a href="{:U('database_copy')}">数据备份</a>
						</li>
						<li  >
							<a href="{:U('database_upload')}">数据导入</a>
						</li>
						
					</ul>
						<form class="form-horizontal" role="form" method="post" id="form1">
							<div class="panel panel-info">
								<div class="panel-heading">数据备份</div>
								<div class="space"></div>
									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 
										数据备份操作说明：</label>
										<div class="col-sm-5">
											<p>使用本系统备份的数据，只能使用本系统来进行还原，如果使用其他工具导入，或者自行导入，可能造成数据不完整或不正确</p>
											<p><strong>请在站点访问量比较低的时间段（如深夜）操作，来防止可能出现的意外数据丢失</strong></p>
											<p>数据库中共有{$tableNum}张表 ， 共计{$total}</p>
										</div>
										<div class="col-sm-2">
											<button class="btn btn-tijiao" style="border:none;" id="disabled"  type="button" >开始备份</button>
										</div>
									</div>
								
							</div>
							<div class="rule panel panel-default">
							<table id="sample-table-1" class="table table-hover user_list_table">
								<thead class="navbar-inner">
									<tr>
										<th class="center">
											<label>
												<input type="checkbox" class="ace" id="select" >
												<span class="lbl"></span>
											</label>
										</th>
										<th>数据表</th>
										<th>记录条数</th>
										<th>占用空间</th>
										<th>编码</th>
										<th>创建时间</th>
										<th>说明</th>
										
									</tr>
								</thead>

								<tbody>
								<volist name='db' id='list'>
									<tr class="">
										<td class="center">
											<label>
												<input type="checkbox" class="ace table" name="table[]" value="{$list.name}">
												<span class="lbl"></span>
											</label>
										</td>
										<td>{$list.name}</td>
										<td>{$list.rows}</td>
										<td>{$list.size}</td>
										<td>{$list.collation}</td>
										<td>{$list.create_time}</td>
										<td>{$list.comment}</td>
										
									</tr>
								</volist>
								</tbody>
							</table>
							</div>
						</form>
							
					</div>
					<!-- 表单end -->								
		</div>
<script type="text/javascript">
	


	jQuery(function($) {
		var oTable1 = $('#sample-table-2').dataTable( {
		"aoColumns": [
	      { "bSortable": false },
	      null, null,null, null, null,
		  { "bSortable": false }
		] } );
		
		
		$('table th input:checkbox').on('click' , function(){
			var that = this;
			$(this).closest('table').find('tr > td:first-child input:checkbox')
			.each(function(){
				this.checked = that.checked;
				$(this).closest('tr').toggleClass('selected');
			});
				
		});
	
	
		$('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
		function tooltip_placement(context, source) {
			var $source = $(source);
			var $parent = $source.closest('table')
			var off1 = $parent.offset();
			var w1 = $parent.width();
	
			var off2 = $source.offset();
			var w2 = $source.width();
	
			if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
			return 'left';
		}
	})

	

</script>

<script type="text/javascript">
	$('#disabled').click(function(){

	var a = [];
	$('input[name*=table]').each(function(i,o){
		if($(o).is(':checked')){
			a.push($(o).val());
		}
	});
	if(a.length==0){
		alert('请选择要备份的数据表');  //alert('请选择要备份的数据表');
		return;
	}else{
		$(this).html('备份中...');
		$(this).attr('disabled','disabled');

		var url = "{:U('database/copy_ajax')}";

		$.post(url,{table:a},function(data){
			data = eval('('+data+')');
			if(data.stat == 'ok'){
				$('#disabled').html('开始备份');
				$('#disabled').removeAttr('disabled');
				alert(data.msg);
				
			}else{
				alert('备份出错！');
			}
		});
	}

		
	});

</script>

</block>