
		<!-- basic scripts -->

		<!--[if !IE]> -->

		

		<!-- <![endif]-->

		<!--[if IE]>
<script src="http://ajax.useso.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->

		<!--[if !IE]> -->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='__JS__jquery-2.0.3.min.js'>"+"<"+"script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='__JS__jquery-1.10.2.min.js'>"+"<"+"script>");
</script>
<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='__JS__jquery.mobile.custom.min.js'>"+"<"+"script>");
		</script>
		<script src="__JS__bootstrap.min.js"></script>
		<script src="__JS__typeahead-bs2.min.js"></script>
		<script src="__JS__jquery.dataTables.min.js"></script>
		<script src="__JS__jquery.dataTables.bootstrap.js"></script>

		<!-- page specific plugin scripts -->

		<!--[if lte IE 8]>
		  <script src="__JS__excanvas.min.js"></script>
		<![endif]-->

		<script src="__JS__jquery-ui-1.10.3.custom.min.js"></script>
		<script src="__JS__jquery.ui.touch-punch.min.js"></script>
		<script src="__JS__jquery.slimscroll.min.js"></script>
		<script src="__JS__jquery.easy-pie-chart.min.js"></script>
		<script src="__JS__jquery.sparkline.min.js"></script>
		<script src="__JS__flot/jquery.flot.min.js"></script>
		<script src="__JS__flot/jquery.flot.pie.min.js"></script>
		<script src="__JS__flot/jquery.flot.resize.min.js"></script>

		<script src="__JS__date-time/bootstrap-datepicker.min.js"></script>
		<script src="__JS__date-time/bootstrap-timepicker.min.js"></script>
		<script src="__JS__date-time/moment.min.js"></script>
		<script src="__JS__date-time/daterangepicker.min.js"></script>

		<!-- ace scripts -->

		<script src="__JS__ace-elements.min.js"></script>
		<script src="__JS__ace.min.js"></script>

		<!-- inline scripts related to this page -->

		
	<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>

