	<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<div class="sidebar" id="sidebar">
					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
					</script>

					<div class="sidebar-shortcuts" id="sidebar-shortcuts">
						<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
							<button class="btn btn-success">
								<i class="icon-signal"></i>
							</button>

							<button class="btn btn-info">
								<i class="icon-pencil"></i>
							</button>

							<button class="btn btn-warning">
								<i class="icon-group"></i>
							</button>

							<button class="btn btn-danger">
								<i class="icon-cogs"></i>
							</button>
						</div>

						<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
							<span class="btn btn-success"></span>

							<span class="btn btn-info"></span>

							<span class="btn btn-warning"></span>

							<span class="btn btn-danger"></span>
						</div>
					</div><!-- #sidebar-shortcuts -->

					<ul class="nav nav-list">
						<li id="con_index">
							<a href="{:U('index/index')}" >
								<i class="icon-dashboard"></i>
								<span class="menu-text"> 控制台 </span>
							</a>
						</li>


						<li class="census" >
							<a href="" class="dropdown-toggle" >
								<i class="icon-desktop"></i>
								<span class="menu-text">学校数据信息统计 </span>
								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">
								<li class="index">
									<a href="{:U('census/index')}" class="active">
										<i class="icon-double-angle-right"></i>
										学校信息汇总
									</a>
								</li>

								<li class="count">
									<a href="{:U('census/count')}">
										<i class="icon-double-angle-right"></i>
										大连工业大学
									</a>
								</li>
								<li>
									<a href="buttons.html">
										<i class="icon-double-angle-right"></i>
										大连工业大学
									</a>
								</li>
								<li>
									<a href="buttons.html">
										<i class="icon-double-angle-right"></i>
										大连工业大学
									</a>
								</li>
								<li>
									<a href="buttons.html">
										<i class="icon-double-angle-right"></i>
										大连工业大学
									</a>
								</li>
								<li>
									<a href="buttons.html">
										<i class="icon-double-angle-right"></i>
										大连工业大学
									</a>
								</li>

								
							</ul>
						</li>

						<li class="setting " >
							<a href="{:U('setting/index')}">
								<i class="icon-list"></i>
								<span class="menu-text"> 设置管理 </span>
							</a>
						</li>

						</ul>
						</li>
					</ul><!-- /.nav-list -->

					<div class="sidebar-collapse" id="sidebar-collapse">
						<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
					</div>

					<script type="text/javascript">

						$(document).ready(function() {
					     	var con_name = "{$Think.const.CONTROLLER_NAME}";
					     	var act_name = "{$Think.const.ACTION_NAME}";
					     	var act_name = act_name.toLowerCase();
					     	var con_name = con_name.toLowerCase();
					     	
							if( con_name == 'setting' ){
								$('.setting').attr('class','active open');
								
							}else if( con_name == 'census' ){
								$('.census').attr('class','active open').find("."+act_name).attr('class','active');
							}else{
								$('#con_index').attr('class','active open');
							}

					    });
						
					</script>
				</div>