<extend name="Common:base_no_left" />
<block name="rig">
<link rel="stylesheet" href="/school/Public/Admin/css/shezhi.css" />
<img src="/school/Public/Admin/img/avatars/gw-logo.png" class="shizhi_logo">
		<div class="">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-list"></i>
								设置管理
							</li>
							<li class="active">我的账户</li>
						</ul><!-- .breadcrumb -->	
					</div>



					<!-- 表单 -->
					<div class="widget-main well shizhi_box shizhi_wai">
						<ul class="nav nav-pills shezhi_nav" >
							<li class="active" >
								<a href="{:U('user_list')}">用户列表</a>
							</li>
							<li >
								<a href="{:U('add_user')}">添加用户</a>
							</li>
							<li  >
								<a href="{:U('user_group')}">用户组</a>
							</li>
						</ul>			


			 				<div class="panel panel-info">
								<div class="panel-heading">筛选</div>
								<div class="space"></div> 

 								<form class="form-horizontal" method="get" action="{:U('setting/user_list')}">
									<input type="hidden" name="s" value="/Home/Setting/user_list.html">
									<div class="form-group">
										<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" for="form-field-1">
										状态</label>
										<div class="col-sm-8 col-lg-9 col-xs-12">
											<select class="form-control" id="form-field-select-1" name="state">
												<option value="0" id="state-0"  >正常</option>
												<option value="1" id="state-1" >禁止</option>
											</select>
										
										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" for="form-field-1">
										用户名</label>
										<div class="col-sm-8 col-lg-9 col-xs-12">
											<input type="text" id="form-field-1"  class="col-xs-12 col-sm-12" maxlength="16" name="username" value="{$Think.get.username}">
										</div>
									</div>

									<div class="form-group">
										<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" for="form-field-1">
										用户组</label>
										<div class="col-sm-8 col-lg-9 col-xs-12">
											<select class="form-control" id="form-field-select-2" name="uid">
											<volist name='group' id="list_g">
												<option value="{$list_g.id}" <php> if($list_g['id']==$uid) echo 'selected="selected"' </php> > {$list_g.groupname}</option>
											</volist>
											</select>
										</div>
										<div class="pull-right col-xs-12 col-sm-2 col-lg-2">
											<button class="btn btn-tijiao" style="border:none;">搜索</button>
										</div>
									</div>
							</div> 
						</form>
						<div class="rule panel panel-default">
						<div class="table-responsive panel-body">
							<table class="table table-hover user_list_table">
								<thead class="navbar-inner">
									<tr>
										<th>id</th>
										<th>用户名</th>
										<th>所属用户组</th>
										<th >状态</th>
										<th>注册时间</th>
										<th >操作</th>
									</tr>
								</thead>

								<tbody>
									<volist name='list' id="user">
									<tr>
										<td>{$user.id}</td>
										<td>{$user.username}</td>
										<td>{$user.group}</td>
										<if condition=" $user.state eq 1 ">
											<td ><span class="label label-danger" id="set_state_span_{$user.id}" >被禁止</span></td>
										<else/>
											<td  ><span class="label label-success" id="set_state_span_{$user.id}">正常</span></td>
										</if>
										<td>{$user.addtime|date="Y-m-d",###}</td>
										<td>
											<a href="{:U('setting/edit_user',array('id'=>$user['id']))}">编辑</a>
											<a href="#">查看权限</a>
											<if condition=" $user.state eq 1 ">
											<a href="javasrcipt:void(0)" id="set_state-{$user.id}" onclick="set_state('{$user.id}')">启用用户</a>
											<else/>
											<a href="javasrcipt:void(0)" id="set_state-{$user.id}" onclick="set_state('{$user.id}')">禁止用户</a>
											</if>
											<a href="  {:U('setting/del_user',array('id'=>$user['id']))}" onclick="return confirm('确定删除用户？')">删除用户</a>
										</td>
									</tr>
									</volist>
								</tbody>
							</table>
							</div>
							</div>
					</div>

					<!-- 表单end -->								
		</div>
<script type="text/javascript">
	
	function set_state(id){
			var url = "{:U('setting/set_state')}";
			$.post(url,{id:id},function(data){
				if(data == 0){
					$('#set_state-'+id).text('禁止用户');
					$('#set_state_span_'+id).text('正常');  //文字
					$('#set_state_span_'+id).attr('class','label label-success'); //样式
				}else{
					$('#set_state-'+id).text('启用用户');
					$('#set_state_span_'+id).attr('class','label label-danger');
					$('#set_state_span_'+id).text('被禁止');

				}
			})
	}

	$(document).ready(function (){
		var state = "{$Think.get.state}";
		
		if(state == 1){
			$('#state-1').attr('selected','selected');
		}else{
			$('#state-0').attr('selected','selected');
		}

	})
</script>
</block>
