<extend name="Common:base_no_left" />
<block name="rig">
<link rel="stylesheet" href="/school/Public/Admin/css/shezhi.css" />
<img src="/school/Public/Admin/img/avatars/gw-logo.png" class="shizhi_logo">			
		<div class="">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-list"></i>
								设置管理
							</li>
							<li class="active">我的账户</li>
						</ul><!-- .breadcrumb -->	
					</div>



					<!-- 表单 -->
					<div class="row widget-main well shizhi_box shizhi_wai"  >

							<ul class="nav nav-pills shezhi_nav" >
								<li >
									<a href="{:U('user_list')}">用户列表</a>
								</li>
								<li  >
									<a href="{:U('add_user')}">添加用户</a>
								</li>
								<li class="active"  >
									<a href="{:U('user_group')}">用户组</a>
								</li>
							</ul>

							<div class="col-sm-12">
								<div class="widget-box">
									<div class="widget-header header-color-blue2">
										<h4 class="lighter smaller">添加用户组</h4>
									</div>
									<form method="post" action="">
									<div class="widget-body" style="padding:20px;">
										<div class="widget-main padding-8">

											<div class="row">
												<div class="col-xs-2 col-sm-1" align="right">
													<label for="id-date-range-picker-1" style="margin-top:5px;">组名：</label>
												</div>
												<div class="col-xs-3 col-sm-3">
													<input placeholder="" type="text" name="group_name" >
												</div>
												<div class=" col-xs-3 col-sm-5 ">
													<button class="btn btn-tijiao" style="border:none;" type="submit">
														添加用户组
													</button>
												</div>
											</div>
										</div>
									</div>
									</form>
								</div>
							</div>
							<div class="col-sm-12" style="margin-top:30px;">
								<div class="widget-box">
									<div class="widget-header header-color-blue2">
										<h4 class="lighter smaller">用户组列表</h4>
									</div>
									<form method="post" action="">
									<div class="widget-body" style="padding:20px;">
										<div class="widget-main padding-8">

											<table id="sample-table-2" class="table table-hover user_list_table">
													<thead class="navbar-inner">
														<tr>
															<th>id</th>
															<th>用户组名</th>
															<th>添加时间</th>
															<th>修改时间</th>
															<th>操作</th>
														</tr>
													</thead>
													<tbody>
														<volist name='list' id='group'>	
														<tr>
															<td>{$group.id}</td>
															<td id='edit-{$group.id}' >{$group.groupname}</td>
															<td>{$group.addtime|date='Y-m-d',###}</td>
															<td>{$group.updatetime|date='Y-m-d',###}</td>
															<td>
																<a href="#" onclick="edit('{$group.id}')"> 编辑 </a>
																<a href="{:U('setting/del_group',array('id'=>$group['id']))}"> 删除组 </a>
															</td>
														</tr>
														</volist>
													</tbody>
												</table>
										</div>
									</div>
									</form>
								</div>
							</div>
					</div>

					<!-- 表单end -->								
		</div>
		<script type="text/javascript">
			
			$(document).ready(function(){
				
			})
			function edit(id){
				var name = $('#edit-'+id).html();
				var html = "<input type='text'value='"+name+"' id='targetedit"+id+"'/>";

				$('#edit-'+id).html(html);
				$('#targetedit'+id).focus();
				
				$("#targetedit"+id).blur(function(){
					var groupname = $('#targetedit'+id).val();
					var url = "{:U('setting/ajax_editgroup')}";
					$.post(url,{id:id,name:groupname},function(data){
						if(data){
							$('#edit-'+id).html(data);
						}
						
					});
				});
			}
		</script>
</block>

