<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>校园饮水项目管理云平台</title>
        <meta name="keywords" content="校园饮水项目管理云平台" />
        <meta name="description" content="校园饮水项目管理云平台" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- basic styles -->
        <link href="__CSS__bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="__CSS__font-awesome.min.css" />

        <!--[if IE 7]>
          <link rel="stylesheet" href="__CSS__font-awesome-ie7.min.css" />
        <![endif]-->
        <!-- page specific plugin styles -->
        <!-- fonts -->
        <!-- ace styles -->
        <link rel="stylesheet" href="__CSS__jquery-ui-1.10.3.custom.min.css" />
        <link rel="stylesheet" href="__CSS__chosen.css" />
        <link rel="stylesheet" href="__CSS__datepicker.css" />
        <link rel="stylesheet" href="__CSS__daterangepicker.css" />
        <link rel="stylesheet" href="__CSS__colorpicker.css" />

        <link rel="stylesheet" href="__CSS__bootstrap-timepicker.css" />
        <link rel="stylesheet" href="__CSS__ace.min.css" />
        <link rel="stylesheet" href="__CSS__ace-rtl.min.css" />
        <link rel="stylesheet" href="__CSS__ace-skins.min.css" />

        <!--[if lte IE 8]>
          <link rel="stylesheet" href="__CSS__ace-ie.min.css" />
        <![endif]-->

        <!-- inline styles related to this page -->

        <!-- ace settings handler -->

        <script src="__JS__ace-extra.min.js"></script>
        <script src="http://ajax.useso.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

        <!--[if lt IE 9]>
        <script src="__JS__html5shiv.js"></script>
        <script src="__JS__respond.min.js"></script>
        <![endif]-->
    </head>
