<extend name="Common:base" />

<block name="rig">
<style>
.xitongxixin #sample-table-1 th{
	border-top:none;
}	
</style>	
	<div class="col-xs-12 col-sm-9 col-lg-10">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">系统</a>
							</li>
							<li class="active">平台概况</li>
						</ul><!-- .breadcrumb -->

					</div>


					<div class="xitongxixin">



						<div class="panel panel-info">
							<div class="panel-heading">系统信息</div>
							<!-- PAGE CONTENT BEGINS -->
							<div class="row">
								<div class="col-xs-12">
									<div class="panel-body table-responsive">
										<table id="sample-table-1" class="table table-hover">
											<tbody>
												<tr>
													<th>服务器系统</th> 
													<td class="hidden-480">{$system}</td>
												</tr>
												<tr>
													<th>php版本号</th> 
													<td class="hidden-480">{$php_edition}</td>
												</tr>
												<tr>
													<th>服务器MySql版本</th> 
													<td class="hidden-480">{$mysql_edition}</td>
												</tr>
												<tr>
													<th>上传大小</th> 
													<td class="hidden-480">{$upload_size}</td>
												</tr>
												<tr>
													<th>服务器环境</th> 
													<td class="hidden-480">{$server}</td>
												</tr>
												<tr>
													<th>服务器域名</th> 
													<td class="hidden-480">{$http}</td>
												</tr>
												<tr>
													<th>当前附件目录</th> 
													<td class="hidden-480">__PUBLIC__upload/</td>
												</tr>
												<tr>
													<th>当前附件目录大小</th> 
													<td class="hidden-480">{$file_size}</td>
												</tr>

											</tbody>
										</table>
									</div>
								</div>
							</div><!-- /.table-responsive -->
						</div><!-- /span -->
					</div><!-- /row -->
				</div>
	
</block>