<extend name="Common:base" />
<block name="rig">
<style>
	.shezhi_nav{
		margin:0px;
		border-bottom:1px solid #428bca;
	}
	.zdy-widget-body-table{
		border-top:none !important;
	}
	.zdy-widget-box{
		border:1px solid #ccc;
		border-radius:4px;
	}
</style>
		<div class="col-xs-12 col-sm-9 col-lg-10">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								学校列表
							</li>
						</ul><!-- .breadcrumb -->	
					</div>


					<ul class="nav nav-pills shezhi_nav">
						<li class="active">
							<a href="{:U('school/school_list')}">学校列表</a>
						</li>
						<li>
							<a href="{:U('school/school_add')}">添加学校</a>
						</li>
					</ul>
				
					<!-- 表格 -->
					<div class="row">
					<div class="col-xs-12" style="margin-top:10px;">

						<div class="widget-box zdy-widget-box">
							<div class="widget-body">
								<div class="widget-main padding-8">
									<table id="sample-table-2" class="table table-hover zdy-widget-body-table">
										<thead class="navbar-inner">
											<tr>
												<th>id</th>
												<th>学校名称</th>
												<th>学校id</th>
												<th>接口地址</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody>
											<volist name='list' id="school">
											<tr>
 												<td>{$school.id}</td>
												<td>{$school.name}</td>
												<td>{$school.school_id}</td>
												<td>{:urldecode($school['sdk_adder'])}</td>
												<td> 
													<a href="{:U('school/school_edit',array('id'=>$school['id']))}">编辑</a> 
													<a href="{:U('school/school_del',array('id'=>$school['id']))}" onclick=" return confirm('确定删除吗？')">删除</a> 
												</td>
											</tr>
											</volist>
										</tbody>
									</table>
									<!-- 分页 -->
								
									</div>	
							</div>
						</div>


										
					</div>
					</div>
				</div>
		</div>
<script type="text/javascript">
$(document).ready(function(){
		$('input[name=date-range-picker]').daterangepicker().prev().on(ace.click_event, function(){
			$(this).next().focus();
		});

});


</script>
</block>



