<extend name="Common:base" />
<block name="rig">
<style>
	.shezhi_nav{
		margin:0px;
		border-bottom:1px solid #428bca;
	}
	.zdy-widget-body-table{
		border-top:none !important;
	}
	.zdy-widget-box{
		border:1px solid #ccc;
		border-radius:4px;
	}
	.zdy-form	{
		margin-top:16px;
	}

	.zdy-form  .panel-default{
		padding:10px 0px;
	}
</style>
		<div class="col-xs-12 col-sm-9 col-lg-10">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								学校列表
							</li>
						</ul><!-- .breadcrumb -->	
					</div>


					<ul class="nav nav-pills shezhi_nav">
						<li >
							<a href="{:U('school/school_list')}">学校列表</a>
						</li>
						<li class="active">
							<a href="{:U('school/school_add')}">添加学校</a>
						</li>
					</ul>
					<div class="row">
					<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<form class="form-horizontal form zdy-form" role="form" method="post" onsubmit="return check()">
									<div class="panel panel-default">
									<div class="form-group">
										<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="form-field-1"> 
										学校名称</label>

										<div class="col-sm-9">
											<input type="text" id="name" class="form-control" maxlength="16" name="name">
										</div>
									</div>

									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="form-field-2"> 接口地址 </label>

										<div class="col-sm-9">
											<input type="text" id="sdk_adder" name="sdk_adder" class="form-control">
											
										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="form-field-2"> 后台地址 </label>

										<div class="col-sm-9">
											<input type="text" id="admin_adder" name="admin_adder" class="form-control">
										</div>
									</div>

									<div class="form-group">
										<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="form-field-2"> 学校ID </label>

										<div class="col-sm-9">
											<input type="text" id="school_id" name="school_id" class="form-control">
										</div>
									</div>

									<div class="space-4"></div>


									</div>
									<div class="">
										<div class="col-md-9">
											<button class="btn btn-info" type="submit">
												<i class="icon-ok bigger-110"></i>
												提交
											</button>

											&nbsp; &nbsp; &nbsp;
											<button class="btn" type="reset" onclick="history.go(-1)">
												<i class="icon-undo bigger-110"></i>
												返回
											</button>
										</div>
									</div>
									
								</form>
							</div>
					</div>


				</div>
		</div>
<script type="text/javascript">
$(document).ready(function(){
		$('input[name=date-range-picker]').daterangepicker().prev().on(ace.click_event, function(){
			$(this).next().focus();
		});
});

function check(){

			var  name = $('#name').val();
			var  sdk_adder =  $('#sdk_adder').val();
			var admin_adder= $('#admin_adder').val();
			var school_id = $('#school_id').val()

			if( name == '')
			{
				alert('请输入学校名称');
				return false;
			}
			else if(sdk_adder == '')
			{
				alert('请输入接口地址');
				return false;
			}
			else if(admin_adder == '')
			{
				alert('请输入后台地址');
				return false;
			}
			else if(school_id == '')
			{
				alert('请输入学校ID');
				return false;
			}
			else
			{
				return true;
			}

		}


</script>
</block>



